$red:          #ec594d;
$yellow:       #F1C40F;
$blue:         #3498DB;
$green:        #1ABC9C;
$lightgray:    #f5f5f5;
$medgray:      #e5e5e5;
$darkgray:     #767676;
$twitter:      #55acee;
$lightTwitter: rgba($twitter, 0.2);
$medTwitter:   rgba($twitter, 0.5);
$nightTwitter: #2F6CA7;