header {
    width: 100%;
    height: 60px;
    background-color: $lightgray;
    border-bottom: 1px solid $medgray;
    margin-bottom: 30px;

    h1 {
        margin: 0;
        font-size:1.6em;
        line-height:60px;
        left: 20px;
        position: relative;
    }
}

#content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: calc(100vh - 3*60px);
}

footer {
    min-height: 60px;
    width: 100%;
    background-color: $lightgray;
    border-top: 1px solid $medgray;
    margin-top: 30px;
    padding: 15px;

    span {
        display: inline-block;
        font-size: .7em;
        color: $darkgray;
        width: 49%;

        &.left-footer {
            text-align: left;
        }

        &.right-footer {
            text-align: right;
        }
    }


}