<div class="home">
    <h3>Enter a GitHub repo to see its issues:</h3>

    <div class="form-container">
        <div class="repo-form">
            <input placeholder="owner (e.g., 'github')" id="owner" class="repo-form-input" type="text">
            <input placeholder="repo (e.g., 'hubot')" id="repo" class="repo-form-input" type="text">
            <button onclick="goToRepo()">Go!</button>
        </div>
    </div>

    <h3>Or try some of these examples:</h3>
    <div class="examples">
        <div class="repo-example"><h4><a href="/#/rails/rails">rails/rails</a></h4></div>
        <div class="repo-example"><h4><a href="/#/tomchristie/django-rest-framework">tomchristie/django-rest-framework</a></h4></div>
        <div class="repo-example"><h4><a href="/#/atom/atom">atom/atom</a></h4></div>
        <div class="repo-example"><h4><a href="/#/facebook/react-native">facebook/react-native</a></h4></div>
        <div class="repo-example"><h4><a href="/#/tholman/elevator.js">tholman/elevator.js</a></h4></div>
        <div class="repo-example"><h4><a href="/#/bowdoinorient/bongo">bowdoinorient/bongo</a></h4></div>
        <div class="repo-example"><h4><a href="/#/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition">EnterpriseQualityCoding/FizzBuzzEnterpriseEdition</a></h4></div>
    </div>
</div>