<div class="issue-detail">
    <div class="issue-top">
        <div class="issue-meta">
            <span class="issue-number">
                <a href="/#/<%=owner%>/<%=repo%>/<%=issue.number%>">
                    #<%= issue.number %>
                </a>
            </span>
            <div class="issue-reporter">
                <span class="reported-by">, reported by</span>
                <a class="issue-reporter-meta" href="https://github.com/<%= issue.user.login %>">
                    <span class="username">@<%= issue.user.login %></span>
                    <img class="avatar" src="<%= issue.user.avatar_url %>">
                </a>
            </div>
        </div>

        <div class="labels">
            <% _.each( issue.labels, function( label ){ %>
                <div class="label" style="background-color: #<%=label.color%>;"><%= label.name %></div>
            <% }) %>
        </div>
    </div>

    <h2><%= gfm(issue.title) %></h2>

    <div class="issue-body">
        <%= gfm(issue.body) %>
    </div>

    <p class="issue-more-meta">issue filed <%= moment(issue.created_at).format("llll") %>, currently <%= issue.state %>

    <div class="comments">
        <% _.each( comments, function( comment ){ %>
            <div class="comment">
                <div class="comment-meta">
                    <p>
                        On <%= moment(comment.created_at).format("llll") %>,
                        <a class="issue-reporter-meta" href="https://github.com/<%= comment.user.login %>">
                            <span class="username">@<%= comment.user.login %></span>
                            <img class="avatar" src="<%= comment.user.avatar_url %>">
                        </a>wrote:
                    </p>
                </div>
                <div class="comment-body">
                    <%= gfm(comment.body) %>
                </div>
            </div>
        <% }) %>
    </div>
</div>